@import '../../App'

.another-post
    margin: 90px auto
    width: 280px

    .comments
        width: 220px
        margin: 10px auto 0 auto

        .comment
            margin-top: 10px
            word-wrap: break-word

        .comments-flexbox
            display: flex
            align-items: center

            img
                width: 35px
                height: 35px
                object-fit: cover
                border-radius: 50%
                margin-right: 10px

    .container
        border-bottom: 1px solid #ebebeb
        padding-bottom: 10px

        .the-post
            word-wrap: break-word
            
            .buttons-flex
                display: flex

                .modal
                    position: fixed
                    margin-top: -60px
                    z-index: 1000
                    width: 280px
                    border: none
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4)
                    display: flex

                    .post-comment-button
                        background-color: $primary-color
                        color: white
                        border-radius: 0px
                        text-transform: unset
                        margin: 0px
                        height: 58px

                        &:disabled 
                            background-color: #d1d1d1

                    input
                        border: none
                        outline: none
                        font-size: 20px
                        padding: 15px
                        width: 216px

                        &:focus 
                            color: $primary-color

                .comment-button
                    margin-left: auto
                
                button
                    margin-top: 15px
                    font-size: 16px
                    height: 40px
                    padding: 0px

                .liked
                    color: $primary-color

                .disliked
                    color: $primary-color

            .post
                font-size: 22px

            .another-post-flexbox
                display: flex

                img 
                    width: 45px
                    height: 45px
                    object-fit: cover
                    border-radius: 50%
                    margin-right: 10px

    
