@import '../../App'

.feed-container
    margin: 90px auto
    padding: 0 16px
    max-width: 1200px

    .feed
        margin-top: 40px
        background-color: #f7f7f7
        padding: 15px

        .feed-box
            display: grid
            grid-template-columns: 50px 1fr

            .feed-user-link
                .feed-user-image
                    width: 45px
                    height: 45px
                    object-fit: cover

            .feed-user-date
                .feed-username
                    font-weight: bold

                .feed-date
                    font-weight: 300
                    font-size: 12px

        .feed-post
            margin-top: 20px
            word-break: break-word

        .feed-buttons
            margin: 20px 0 0 0
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            align-items: center
            justify-items: center

            .like-button
                width: 100%
                border-radius: 0px

                .heart-icon
                    margin-left: 5px

            .dislike-button
                width: 100%
                border-radius: 0px
                
                .heart-icon
                    margin-left: 5px

            .liked
                width: 100%
                border-radius: 0px
                color: $primary-color

                .heart-icon
                    margin-left: 5px

            .disliked
                width: 100%
                border-radius: 0px
                color: $primary-color

                .heart-icon
                    margin-left: 5px

            .comment-button-link
                text-decoration: none
                width: 100%

                .comment-button
                    width: 100%
                    border-radius: 0px
                
                    .comment-icon
                        margin-left: 5px

@media only screen and (min-width: 768px)
    .feed-container
        padding: 0
        width: 400px


            


