@import '../../App'

.feed
    padding-bottom: 100px
    padding-top: 80px 
    background-color: #f0f6fa

    .spinner
        font-size: 40px
        margin: 80px auto 0 auto
        width: 100%

    .feed-posts
        background-color: white

        .feed-post
            width: 280px
            margin: 10px auto 0 auto
            padding: 15px 0

            .post
                font-size: 22px
                margin: 30px 0

            .feed-flexbox
                display: flex
                align-items: center

                img 
                    width: 35px
                    height: 35px
                    object-fit: cover
                    border-radius: 50%
                    margin-right: 10px

            .liked
                background-color: rgba(66,164,245, 0.2)

            .disliked
                background-color: rgba(250,92,152, 0.2)


