@import '../../App'

.profile
    margin: 90px auto
    width: 280px
    word-wrap: break-word
        
    h1 
        font-size: 45px
        font-weight: bold
        
    .user
        img
            width: 130px
            height: 130px
            object-fit: cover
            border-radius: 50%
            margin-top: 20px
            cursor: pointer

        .loading-image
            opacity: 0.1
            transition: 2s
        
        .edit-logout-button
            width: 50%
            text-transform: unset
            color: $primary-color
            padding: 8px 0
            border: 1px solid white
            margin: 20px 0
            font-size: 18px

            &:hover
                border: 1px solid $primary-color
                background-color: white
                border-radius: 0px
        
        .modal
            background-color: white
            position: fixed
            z-index: 1000
            left: 10%
            right: 10%
            bottom: 20%
            top: 20%
            max-width: 280px
            margin: 0 auto
            border: none
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4)
            display: flex
            flex-direction: column
            justify-content: space-between
            overflow: auto

            input
                border: none
                outline: none
                padding: 15px
                font-size: 18px

                &:focus 
                    color: $primary-color

            button
                padding: 12px 0
                text-transform: unset
                background-color: $primary-color
                color: white
                border-top-left-radius: 0px
                border-top-right-radius: 0px
                border-bottom-right-radius: 0px
                border-bottom-left-radius: 0px
                font-size: 20px

                &:disabled 
                    background-color: #d1d1d1

            .close
                position: absolute
                right: 0
                color: $primary-color
                margin: 10px
                font-size: 22px
                cursor: pointer

        .bio 
            color: $primary-color
            margin-top: 20px

        .user-details
            text-align: left
            font-size: 14px
            background-color: #f7f7f7a8
            margin: 20px 0 0 0 
            padding: 20px
            border-radius: 8px
            line-height: 22px
            word-wrap: break-word

            a 
                color: black

        .following-followers
            margin-top: 20px

            p
                font-size: 20px
                font-weight: bold

            img
                width: 34px
                height: 34px
                object-fit: cover
                border-radius: 50%
                margin: 5px 5px 0 0

        .posts
            .post
                margin-top: 20px

                .post-flex
                    display: flex
                    word-wrap: break-word
                    padding-right: 40px

                    img
                        width: 45px
                        height: 45px
                        object-fit: cover
                        border-radius: 50%
                        margin: 0 10px 0 0

                    .delete
                        position: absolute
                        margin-left: 245px
                        color: red
                        opacity: 0.2
                        cursor: pointer

                    .post-date
                        display: flex
                        flex-direction: column

                .post-bottom-buttons
                    display: flex

                    .comment-button
                        margin-left: auto
                    
                    button
                        margin-top: 15px
                        font-size: 16px
                        height: 40px
                        padding: 0px

                    .liked
                        color: $primary-color

                    .disliked
                        color: $primary-color

@media only screen and (min-width: 768px) 
    .profile
        width: 600px

        .user
            hr 
                margin: 60px 0

            .user-details
                margin: 0 
                
            .wide-profile-flex
                display: flex

                .wide-profile-left
                    flex: 1

                .wide-profile-right
                    flex: 1

            .following-followers-flex
                display: flex
                margin-top: 40px

                .following-followers
                    flex: 1

            .posts
                width: 350px
                margin: 0 auto

                .post
                    margin-top: 50px

                    .post-flex
                        .delete
                            position: absolute
                            margin-left: 335px
                            color: red
                            opacity: 0.2
                            cursor: pointer
        


                    

