@import '../../App'

.profile
    margin: 90px auto
    padding: 0 16px
    max-width: 1200px

    .profile-wide-box
        .profile-wide-left
            .profile-title
                font-size: 30px
                font-weight: bold

            .profile-image-box
                .profile-label
                    .profile-image
                        width: 130px
                        height: 130px
                        object-fit: cover
                        margin-top: 20px
                        cursor: pointer

                    .profile-image-loading-box
                        width: 130px
                        height: 130px
                        margin-top: 20px
                        background-color: #f7f7f7

                        .profile-image-loading
                            width: 130px
                            height: 130px
                            
            .bio
                color: $primary-color
                margin-top: 20px

        .profile-wide-right
            .user-details
                font-size: 14px
                background-color: #f7f7f7
                margin: 20px 0 0 0
                padding: 15px
                word-wrap: break-word

                .website-link
                    text-decoration: none
                    color: black

            .edit-logout-button-box
                display: grid
                grid-template-columns: 1fr 1fr
                margin-top: 20px

                .edit-logout-button
                    color: $primary-color
                    text-transform: unset
                    border-radius: 0px

                    &:hover
                        background-color: #f7f7f7

    .following-followers-box
        .following-followers
            margin-top: 20px

            .following-title
                font-size: 20px
                font-weight: bold

            .following-followers-container
                .following-followers-link
                    .following-followers-image
                        width: 35px
                        height: 35px
                        object-fit: cover
                        margin: 5px 10px 0 0

    .posts-container
        margin-top: 80px

        .posts
            margin-top: 40px
            background-color: #f7f7f7
            padding: 15px

            .post-box
                position: relative
                display: grid
                grid-template-columns: 40px 1fr
                align-items: center

                .delete
                    position: absolute
                    right: 0
                    color: red
                    opacity: 0.3
                    cursor: pointer
                    align-self: start

                .post-user-image
                    width: 35px
                    height: 35px
                    object-fit: cover

                .post-user-date
                    .post-user
                        font-size: 14px
                        font-weight: bold

                    .post-date
                        font-size: 12px
                        font-weight: 300

            .user-post
                margin-top: 20px
                word-break: break-word

            .post-bottom-buttons
                margin: 20px 0 0 0
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                align-items: center
                justify-items: center

                .like-button
                    width: 100%
                    border-radius: 0px

                    .heart-icon
                        margin-left: 5px

                .dislike-button
                    width: 100%
                    border-radius: 0px
                    
                    .heart-icon
                        margin-left: 5px

                .liked
                    width: 100%
                    border-radius: 0px
                    color: $primary-color

                    .heart-icon
                        margin-left: 5px

                .disliked
                    width: 100%
                    border-radius: 0px
                    color: $primary-color

                    .heart-icon
                        margin-left: 5px

                .comment-button-link
                    text-decoration: none
                    width: 100%

                    .comment-button
                        width: 100%
                        border-radius: 0px
                    
                        .comment-icon
                            margin-left: 5px

    .modal
        background-color: white
        position: fixed
        z-index: 10
        left: 5%
        right: 5%
        bottom: 10%
        top: 10%
        max-width: 320px
        max-height: 500px
        margin: 0 auto
        border: none
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.6)
        overflow: auto
        padding: 10px

        .modal-close-container
            text-align: right

            .modal-close
                color: $primary-color
                cursor: pointer

        .modal-input
            border: none
            outline: none
            padding: 15px
            width: 100%
            background-color: #f7f7f7
            margin: 10px 0 0 0

            &:focus 
                color: $primary-color

        .update-button
            padding: 12px 0
            width: 100%
            text-transform: unset
            background-color: $primary-color
            color: white
            margin: 20px 0 0 0
            border-radius: 0px

            &:disabled 
                background-color: #d1d1d1

@media only screen and (min-width: 768px)
    .profile
        margin: 90px auto
        padding: 0
        width: 400px

@media only screen and (min-width: 1200px)
    .profile
        width: 800px

        .profile-wide-box
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 20px
        

       


        


                    

