@import '../../App'

.another-user
    margin: 90px auto
    padding: 0 16px
    max-width: 1200px

    .another-user-wide-box
        .another-user-wide-left
            .another-user-title 
                font-size: 30px
                font-weight: bold

            .another-user-image
                width: 130px
                height: 130px
                object-fit: cover
                margin-top: 20px
    
            .bio 
                color: $primary-color
                margin-top: 20px

        .another-user-wide-right
            .user-details
                font-size: 14px
                background-color: #f7f7f7
                margin: 20px 0 0 0
                padding: 15px
                word-wrap: break-word

                .website-link
                    text-decoration: none
                    color: black

            .follow-true-button
                width: 100%
                margin-top: 20px
                border: 1px solid $primary-color
                background-color: $primary-color
                color: white
                text-transform: unset
                font-size: 22px
                border-radius: 0px

                &:hover 
                    background-color: $hover-color

            .follow-false-button
                width: 100%
                margin-top: 20px
                border: 1px solid $primary-color
                border-radius: 0px
                text-transform: unset
                font-size: 22px
                color: $primary-color

    .following-followers-box
        .following-followers
            margin-top: 20px

            .following-title
                font-size: 20px
                font-weight: bold

            .following-followers-container
                .following-followers-link
                    .following-followers-image
                        width: 35px
                        height: 35px
                        object-fit: cover
                        margin: 5px 10px 0 0

    .posts-container
        margin-top: 80px

        .posts
            margin-top: 40px
            background-color: #f7f7f7
            padding: 15px

            .post-box
                position: relative
                display: grid
                grid-template-columns: 40px 1fr
                align-items: center

                .post-user-image
                    width: 35px
                    height: 35px
                    object-fit: cover

                .post-user-date
                    .post-user
                        font-size: 14px
                        font-weight: bold

                    .post-date
                        font-size: 12px
                        font-weight: 300

            .user-post
                margin-top: 20px
                wordBreak: break-word

            .post-bottom-buttons
                margin: 20px 0 0 0
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                align-items: center
                justify-items: center

                .like-button
                    width: 100%
                    border-radius: 0px

                    .heart-icon
                        margin-left: 5px

                .dislike-button
                    width: 100%
                    border-radius: 0px
                    
                    .heart-icon
                        margin-left: 5px

                .liked
                    width: 100%
                    border-radius: 0px
                    color: $primary-color

                    .heart-icon
                        margin-left: 5px

                .disliked
                    width: 100%
                    border-radius: 0px
                    color: $primary-color

                    .heart-icon
                        margin-left: 5px

                .comment-button-link
                    text-decoration: none
                    width: 100%

                    .comment-button
                        width: 100%
                        border-radius: 0px
                    
                        .comment-icon
                            margin-left: 5px
    
@media only screen and (min-width: 768px)
    .another-user
        padding: 0
        width: 400px


