@import '../../App'
    
.home
    margin: 90px auto
    padding: 0 16px
    max-width: 1200px

    .home-box
        margin-top: 30px 

        .home-title
            font-size: 30px
            font-weight: Bold
            margin: 20px 0 0 0
        
        .home-title:first-child
            margin: 0

@media only screen and (min-width: 768px)
    .home
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 0 15px

        .home-box
            margin-top: 0 

@media only screen and (min-width: 1200px)
    .home
        padding: 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 0 25px

        
