@import '../../App'

.notifications
    margin: 90px auto
    width: 280px

    .notification
        margin-bottom: 30px
        
        button
            text-transform: unset
            width: 100%

            .notification-flex
                display: flex
                align-items: center
                width: 280px

                img
                    width: 45px
                    height: 45px
                    object-fit: cover
                    border-radius: 50%
                    margin-right: 10px

                .notification-date
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    font-size: 12px
