$primary-color: #f4511e
$hover-color: #f13800

*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Open Sans'
    font-weight: normal

::placeholder
    color: #d1d1d1

::selection
    background-color: $primary-color
    color: white
