$primary-color: #D500F9

*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Open Sans'
    font-weight: 400

a
    text-decoration: none

::placeholder
    color: #d1d1d1

hr
    border: 0px
    border-top: 1px solid #ebebeb
    margin: 20px 0
